dist/*
unb_emg_toolbox.egg-info/*
token.txt
.pytest_cache/*
tests/__pycache__/*
.coverage
build/*
unb_emg_toolbox/__pycache__/*
.coverage
tests/feature_tests/__pycache__/*
tests/feature_tests/__pycache__/
todo.txt