dist/*
.vscode/*
raw_imu.csv
test.py
sifi_bridge_windows.exe
libemg.egg-info/*
token.txt
.pytest_cache/*
.vscode/*
tests/__pycache__/*
.coverage
build/*
libemg/__pycache__/*
.coverage
tests/feature_tests/__pycache__/*
tests/feature_tests/__pycache__/
todo.txt
demos/__pycache__/*
data/*
raw_emg.csv
docs/build/*
.DS_Store
docs/.DS_Store
tests/feature_tests/*.m
tests/feature_tests/required_fn/*
example_data/*
libemg/datasets/__pycache__/*
demos/data/sgt_example/*
libemg/_streamers/__pycache__/*
demos/images/
demos/data/sgt/*
demos/data/GRABMyo/*
demos/data/*
data_tmp/*
images_tmp/*
.venv
images/ 
libemg/__init__.pyc
test_myo.py
test_pca.py
libemg/_gui/__pycache__/*
media/*
*.exe
test_*.py
*.csv
.vscode/*
test_delsys_api.py
resources/
*.pyc