scipy
pytest==7.1.3
pytest-cov==4.0.0
scikit-learn
pillow
matplotlib
librosa
pyomyo==0.0.5
pyserial
wfdb
bleak
requests
h5py
# For Docs
sphinx==5.0.0
sphinx_rtd_theme==1.0.0
myst_parser==0.18.1
linkify-it-py==2.0.0
# For testing
pytest-skip-slow==0.0.3
dearpygui
PyWavelets
# for new sgt
dearpygui
opencv-python
datetime
websockets==8.1
h5py
onedrivedownloader
sifi-bridge-py==2.0.0b18